/* fuentes de la pag */
* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
  
}
a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }

/* titulo de la pag */
h1 {
    font-family: 'Nabla', cursive;
    font-size: 80px;
}
.titulo {
    background-color: black;
    margin: 0;
    padding: 3% 0;
}
/* menu */
.nav-propia{
    background-color: black;
    
}
.enlace:hover,.logo:hover{
    color: green;
}

.logo{
    color:rgb(253,161, 59);
    font-weight: bold;

}
.menu li a,
.iconos,
h2,
h3,
h5, 
p,
h5 a
{
    color:rgb(253,161, 59)
    }

h5 a:hover {
    color: white;
}
/* video */
.video {
    background-color: black;

}

/* nosotros */
aside{
    background-color: black;
}
h2{
    font-style: italic ;
}
p{
    padding: 0 5%;
    font-style: italic ;
    margin: 0;
    }
    /* carrusel */

    .destacados{
        background-color: black;
        padding: 5%;
    }
    /* footer */

    footer{
        background-color: black;
        padding-top: 5%;

    }
    h6 {
        color: #505050;
        padding-top: 3%;
    }
    
    /* pag. contacto */
    form h2 {
        font-size: 30px;
        font-weight: 100;
        
    }
    .formulario {
        background-color: black;
        color: white;
    }

    .enviar {
        background-color: rgb(253,161, 59);
        color: black;
        border-color: black;
        margin-top: 5px;
    }
    .enviar:hover {
        color: rgb(253,161, 59);
        background-color: black;
        border: solid 1px rgb(253,161, 59);
    }
    /* pag. x4 articulos */
    .productos {
        background-color: black;
        color: white;
        padding-bottom: 5%;
        
    }
h3 {
    padding: 5%;
    color: white;
}

        